@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    @Html.Label("City")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.City)
    <br />
    @Html.Label("Choose Job");
    @Html.DropDownListFor(x=>x.JobID,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
    <br />

    <button class="btn btn-primary">Add Customer</button>

</form>

