@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<form method="post">
    @Html.Label("Product ID")
    @Html.TextBoxFor(x=>x.Id,new {@class ="form-control"})
    <br />
    @Html.Label("Product Name")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Product Price")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Product Stock")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
</form>

